@import 'src/themes/theme';
.request-form-ctn {
  padding: 0 20px;
  .info {
    .title {
      @include font(16px, var(--font-weight-semi-bold), var(--brand-color));
    }
    .sub-title {
      @include font(14px, var(--font-weight-mild), var(--text-secondary));
    }
  }
  .request-form {
    .form-content {
      display: flex;
      flex-wrap: wrap;
      & > div {
        margin: 10px;
      }
      & > div:first-child {
        max-width: 800px;
        flex: 1;
      }
      .date-picker {
        width: 100%;
      }
    }
    .leave-taken {
      margin-left: 10px;
      @include font(16px, var(--font-weight-semi-bold), var(--text-primary));
    }
    .btn-ctn {
      max-width: 400px;
      margin-top: 30px;
    }
  }
}
@include for-size(tablet-landscape-up) {
  .request-form-ctn {
    .request-form {
      .form-content {
       .date-picker {
         max-width: 300px;
       }
      }
    }
  }
}