@import "src/themes/theme";

.reset-password-page {
  display: flex;
  align-items: center;
  background: var(--background-high);

  .password-reset-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0  20px;
    width: 100%;
    .password-reset-image{
      margin-bottom: 20px;
      img {
        width: 300px;
      }
    }
    .description {
      h3 {
        @include font(1.5rem, var(--font-weight-semi-bold), var(--text-primary));
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        @include font(1rem, var(--font-weight-normal), var(--text-secondary));
        text-align: center;
        max-width: 500px;
      }
    }
    .btn-ctn {
      margin-top: 40px;
      max-width: 200px;
    }
  }

  .reset-brand-illustration {
    @include center-content;
    flex: 1;
    img {
      width: 450px;
    }
  }
  .reset-form-ctn {
    @include center-content;
    flex: 1;
    flex-direction: column;
    .form-title-information {
      @include font(2.5rem, bolder, var(--brand-color));
      text-align: center;
      margin-bottom: 20px;
    }
    .reset-form {

      form {
        width: 300px;
        max-width: 500px;
        min-width: 300px;
        .btn-ctn {
          margin-top: 20px;
          padding: 0 5px;
        }
        p {
          @include font(0.8rem, var(--font-weight-light), var(--brand-color));
          cursor: pointer;
        }
        p.sign-in {
          text-align: center;
          margin-top: 40px;
          color: var(--text-primary);
          span {
            color: var(--brand-color);
          }
        }
      }
    }
  }
}

@include for-size(phone-only) {
  .reset-password-page {
    .password-reset-success {
      .password-reset-image {
        img  {
          width: 200px;
        }
      }
    }
    .reset-brand-illustration {
      display: none;
    }
  }
}