.react-datepicker, .react-datepicker__month-container {
  width: 100%;
}
.react-datepicker__week  {
  display: flex;
  width: 100%;
  .react-datepicker__day {
    flex: 1;
  }
}
.react-datepicker__month-container {
  box-shadow: var(--box-shadow);
  .react-datepicker__header {
    background: rgba(244, 114, 34, 0.9);
  }
}
.react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: var(--neutral-text-color-primary)!important;
}
.react-datepicker__day--in-range {
  background: var(--brand-color);
  &:hover {
    background: var(--brand-color);
  }
}
.react-datepicker__day--selected {
  background: var(--brand-color);
  &:hover {
    background: var(--brand-color);
  }
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
 .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,.react-datepicker__year-text--in-range) {
  background: rgba(244, 114, 34, 0.5);
}
.react-datepicker__navigation-icon--previous::before, .react-datepicker__navigation-icon--next::before {
  border-color: white;
}
@include for-size(phone-only) {
  .react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    padding: unset
  }
}
