.side-menu{
  height: 100%;
  width: 200px;
  min-width: 200px;
  color: var(--text-primary);
  border-right: 1px solid var(--background-light);
  background: var(--background-medium);
  .app-content  {
    color: var(--brand-color);
    text-align: center;
    padding: 30px 10px;
    font-size: 2rem;
  }
.menu-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
    &>svg {
      margin-right: 5px;
    }
    &:hover {
      color: var(--brand-color);
    }
    &.active{
      background: var(--brand-color);
      color: var(--background-light);
    }
  }
}

}