@import 'src/themes/theme';

.footer {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  height: 60px;
  width: 100%;
  color: var(--text-primary);
  border-top: 1px solid var(--background-light);
  box-shadow: 0  0 5px 5px var(--background-light);
  --tempWidth: calc(100% / 4);
  a.active[data-0] ~ hr {
    left: 0;
  }
  a.active[data-1] ~ hr {
    left: var(--tempWidth);
  }
  a.active[data-2] ~ hr {
    left: calc(2 * var(--tempWidth));
  }
  a.active[data-3] ~ hr {
    left: calc(3 * var(--tempWidth));
  }
  hr {
    position: absolute;
    z-index: 2;
    width: var(--tempWidth);
    top: 0;
    opacity: 1;
    border:1px solid var(--brand-color);
    background: var(--brand-color);
    height: 1px;
    margin: 0;
    transition: left 200ms ease-in-out;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;
    svg,span {
      transition: color 150ms ease-in-out;
    }
    svg {
      color: var(--text-primary);
    }
    span {
      @include font(11px, var(--font-weight-normal), var(--text-primary))
    }
    &:hover {
      color: var(--brand-color);
    }
    &.active{
      svg, span {
        color: var(--brand-color);
      }
    }
  }
}